@model WinInvestmentTracker.Models.BOLO.ParentChildEntityWithHtmlActions<WinInvestmentTracker.Models.InvestmentGroup, WinInvestmentTracker.Models.Investment>
@{
    Layout = null;
}

<div>
    <hr/>
    <h3>Groups</h3>
    <p>
        Investments can be grouped into the same containers to add a relationship between them.
        Grouped investments share a commonality.
    </p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Linked investments</th>
            <th>#Children</th>
            <th>Parent</th>
            @foreach (var action in Model.HtmlActions)
            {
                <th>@action.DisplayName</th>
            }
        </tr>
        </thead>
        @foreach (var group in Model.Children)
        {
            <tr>
                <td>
                    @Html.ActionLink(group.Name, "Details", "Group", new { id = group.ID }, null)
                </td>

                <td>@group.Description</td>
                <td>@group.Type</td>
                <td>@Html.ActionLink((group.Investments == null ? "0" : group.Investments.Count.ToString()), "InvestmentByGroup", "Investment", new { ID = group.ID }, null)</td>
                <td>n/a</td>
                <td>n/a</td>
                @foreach (var action in Model.HtmlActions)
                {
                    <td> @Html.ActionLink(action.LinkTitle, action.ActionName, action.ControllerName, new { groupID = group.ID, InvestmentID = Model.Parent.ID }, null)</td>
                }
            </tr>
        }

    </table>
</div>
