@model WinInvestmentTracker.Models.BOLO.ParentChildEntityWithHtmlActions<WinInvestmentTracker.Models.InvestmentRisk, WinInvestmentTracker.Models.Investment>
@{
    Layout = null;
}

<div>
    <hr/>   
    <h3>Risks</h3>
    <p>
        Risks are unknowns that affect the value of the investment. Usually risks generate split opinions and are speculative.
        Usually difficult to predict the effect on the value of the investment.
        Consumer perception for example can change and the affect of it can influence the value of the underlying company or it can improve it.
    </p>
    <p>
        'Market' risks are those that are external to the company but affect the companies value such as the market conditions, supply and demand and customer satisfaction.
        'Company' risks are specific to the company and thus it can influence the value such as directory dismissal, product retirement and lay-offs.
    </p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Linked investments</th>
            @foreach (var action in Model.HtmlActions)
            {
                <th>@action.Title</th>
            }
        </tr>
        </thead>
        @foreach (var risk in Model.Children)
        {                
            <tr>                    
                <td>
                    @Html.ActionLink(risk.Name, "details", "Risk", new { id = risk.ID }, null)
                </td>

                <td>@risk.Description</td>
                <td>@risk.Type.ToString()</td>
                <td>@Html.ActionLink(risk.Investments.Count.ToString(), "InvestmentByRisk", "Investment", new { Id = risk.ID }, null)</td>
                @foreach (var action in Model.HtmlActions)
                {
                    <td> @Html.ActionLink(action.Title, action.ActionName, action.ControllerName, new { RiskID = risk.ID, InvestmentID = Model.Parent.ID}, null)</td>
                }
            </tr>
        }
    </table>
</div>

