@model IEnumerable<WinInvestmentTracker.Models.InvestmentGroup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    Investments can be grouped into the same containers to add a relationship between them.
    Grouped investments share a commonality.
</p>
<p th:text="${groups.isEmpty()} == false ? '' : 'No groups in the database.'">These are all the factors that are loaded in the database</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Linked investments</th>
            <th>#Children</th>
            <th>Parent</th>
            <th></th> <!--Delete -->
        </tr>
    </thead>
    @foreach (var group in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(group.Name, "View",new { id = 3 })
            </td>

            <td>@group.Description</td>
            <td>@group.Type</td>
            <td>3</td>
            <td>3</td>
            <td>none</td>
            <td>@Html.ActionLink("delete", "delete", new { id = 3 })</td>
        </tr>
    }

</table>
<a class="btn btn-primary" th:href="|/NewRegion|">New Group</a>
