@model IEnumerable<WinInvestmentTracker.Models.InvestmentGroup>

@{
    ViewBag.Title = "Index";
}

<h2>Investment Groupings</h2>

<p>
    Investments can be grouped into the same containers to add a relationship between them.
    Grouped investments share a commonality.
</p>
<p>@Html.ActionLink("Create New", "Create", "Group", null, new { @class = "btn btn-primary" })</p>
<p th:text="${groups.isEmpty()} == false ? '' : 'No groups in the database.'">These are all the factors that are loaded in the database</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Linked investments</th>
            <th>#Children</th>
            <th>Parent</th>
            <th></th> <!--Delete -->
        </tr>
    </thead>
    @foreach (var group in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(group.Name, "Details", "Group", new { id = group.ID }, null)
            </td>

            <td>@group.Description</td>
            <td>@group.Type</td>
            <td>@Html.ActionLink((group.Investments == null ? "0" : group.Investments.Count.ToString()), "InvestmentByGroup", "Investment", new { ID = group.ID }, null)</td>
            <td>n/a</td>
            <td>n/a</td>
            <td>@Html.ActionLink("delete", "delete", "Group", new { id = group.ID }, null)</td>
        </tr>
    }

</table>

