@model WinInvestmentTracker.Models.Investment

@{
    ViewBag.Title = "Details";
}

<div>
    <h1><a id="@Html.NameFor(model => model.Name)" data-pk="@Model.ID" data-title="Enter data" data-url="@Url.Action("Update","Investment", new { ID = @Model.ID})">@Model.Name</a></h1>    
    <h4>Investment</h4>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            <!-- @Html.DisplayFor(model => model.Description) -->
            <a id="Description" data-pk="@Model.ID" data-title="Enter data" data-type="textarea" data-url="@Url.Action("Update","Investment", new { ID = @Model.ID})">@Model.Description</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>

        <dd>
            <a id="@Html.NameFor(model => model.Symbol)" data-pk="@Model.ID" data-title="Enter data" data-url="@Url.Action("Update","Investment", new { ID = @Model.ID})">@Model.Symbol</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueProposition)
        </dt>

        <dd>
            <a id="@Html.NameFor(model => model.ValueProposition)" data-pk="@Model.ID" data-type="textarea" data-title="Enter data" data-url="@Url.Action("Update","Investment", new { ID = @Model.ID})">@Model.ValueProposition</a>            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesirabilityStatement)
        </dt>

        <dd>
            <a id="@Html.NameFor(model => model.DesirabilityStatement)" data-pk="@Model.ID" data-type="textarea" data-title="Enter data" data-url="@Url.Action("Update","Investment", new { ID = @Model.ID})">@Model.DesirabilityStatement</a>            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitialInvestment)
        </dt>

        <dd>
            <a id="@Html.NameFor(model => model.InitialInvestment)" data-pk="@Model.ID" data-title="Enter data" data-url="@Url.Action("Update","Investment", new { ID = @Model.ID})">@Model.InitialInvestment</a>            
        </dd>
                
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            <a id="@Html.NameFor(model => model.Value)" data-pk="@Model.ID" data-title="Enter data" data-url="@Url.Action("Update","Investment", new { ID = @Model.ID})">@Model.Value</a>            
        </dd>

    </dl>
</div>
<div>
    <hr/>   
    <h3>Risks</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Linked investments</th>
                    <th></th> <!--Delete -->
                </tr>
            </thead>
            @foreach (var risk in Model.Risks)
            {                
                <tr>                    
                    <td>
                        @Html.ActionLink(risk.Name, "details", "Risk", new { id = risk.ID }, null)
                    </td>

                    <td>@risk.Description</td>
                    <td>@risk.Type.ToString()</td>
                    <td>@Html.ActionLink(risk.Investments.Count.ToString(), "InvestmentByRisk", "Investment", new { Id = risk.ID }, null)</td>
                    <td>Dissociate</td>
                </tr>
            }
        </table>

    
</div>
<div>
    <hr />
    <h3>Factors</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Linked investments</th>
                <th></th> <!--Delete -->
            </tr>
        </thead>
        @foreach (var factor in Model.Factors)
        {
            <tr>
                <td>
                    @Html.ActionLink(factor.Name, "details", "Factor", new { ID = factor.ID }, null)
                </td>

                <td>@factor.Description</td>
                <td>@Html.ActionLink(factor.Investments.Count.ToString(), "InvestmentByFactor", "Investment", new { ID = factor.ID }, null)</td>
                <td>Dissociate</td>
            </tr>
        }

    </table>
</div>
<div>
    <hr/>
    <h3>Groups</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Linked investments</th>
                <th>#Children</th>
                <th>Parent</th>
                <th></th> <!--Delete -->
            </tr>
        </thead>
        @foreach (var group in Model.Groups)
        {
            <tr>
                <td>
                    @Html.ActionLink(group.Name, "Details", "Group", new { id = group.ID }, null)
                </td>

                <td>@group.Description</td>
                <td>@group.Type</td>
                <td>@Html.ActionLink((group.Investments == null ? "0" : group.Investments.Count.ToString()), "InvestmentByGroup", "Investment", new { ID = group.ID }, null)</td>
                <td>n/a</td>
                <td>n/a</td>
                <td>Dissociate</td>
            </tr>
        }

    </table>
</div>
<div>
    <hr />
    <h3>Regions</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Investments</th>
                <th>Description</th>
                <th><!--Delete--></th>
            </tr>
        </thead>
        @foreach (var region in Model.Regions)
        {
            <tr>
                <td>@Html.ActionLink(region.Name, "details", "Region", new { Id = region.ID }, htmlAttributes: null)</td>
                <td>@Html.ActionLink(region.Investments.Count.ToString(), "InvestmentByRegion", "Investment", new { ID = region.ID }, null)</td>
                <td>@Html.DisplayFor(o=>o.Description)</td>
                <td>Dissociate</td>
            </tr>
        }

    </table>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $.fn.editable.defaults.mode = 'inline';
            $('#@Html.NameFor(model => model.Name)').editable();
            $('#@Html.NameFor(model => model.Description)').editable();
            $('#@Html.NameFor(model => model.ValueProposition)').editable();
            $('#@Html.NameFor(model => model.Symbol)').editable();
            $('#@Html.NameFor(model => model.DesirabilityStatement)').editable();
            $('#@Html.NameFor(model => model.Value)').editable();
            $('#@Html.NameFor(model => model.InitialInvestment)').editable();
        });
    </script>
}
