@model IEnumerable < WinInvestmentTracker.Models.Investment>

@{ // make csharp available!
    // Any C-Sharp can be here
    ViewBag.Title = "View";
}

<h1>Investments</h1>
<p>Investments represent the assets that are valuable to you. </p>

<p>
    @Html.ActionLink("Create New Investment", "Create")
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Regions</th>
            <th>Risks</th>
            <th>Factors</th>
            <th>Groups</th>
            <th>Value</th>
            <th></th> <!--Delete -->
        </tr>
    </thead>
    @foreach (var investment in Model)
    {
        <tr>
            <td>                
                @Html.ActionLink(investment.Name, "details", "Investment", new { id = investment.ID }, null)
            </td>
            <td>
                @foreach (var region in investment.Regions)
                {
                <span>
                    @Html.ActionLink(region.Name, "details", "Region", new { id = region.ID }, null) <br />
                </span>
                }
            </td>
            <td>
                @foreach (var risk in investment.Risks)
                {
                    <span>
                        @Html.ActionLink(risk.Name, "details", "Risk", new { id = risk.ID }, null) <br />
                    </span>
                }
            </td>
            <td>
                @foreach (var factor in investment.Factors)
                {
                    <span>
                        @Html.ActionLink(factor.Name, "details", "Factor", new { id = factor.ID }, null) <br/>
                    </span>
                }
            </td>
            <td>
                @foreach (var group in investment.Groups)
                {
                    <span>
                        @Html.ActionLink(group.Name, "details", "Group", new { id = group.ID }, null) <br/>
                    </span>
                }
            </td>
            <td>
                <span>@investment.Value</span><br />
            </td>
            <td>@Html.ActionLink("delete", "delete", "Investment", new { id = investment.ID })</td>            
        </tr>
    }

</table>
@Html.ActionLink("New investment", "create", "Investment", new { @class= "btn btn-primary" })
